*{
  background-color: rgb(115, 115, 233);
  margin: auto;
}

/* h1{
  text-align: center;
  margin-top: 10px;

} */

.products-container{
  height: 200px;
  width: 300px; 
  display: grid;
  gap: 5px;
}


.product-item{
  height: 550px;
  width: 500px;
  border: 10px solid;
  border-color: rgb(195, 84, 84);
  padding: 5px;
  margin-bottom: 10px;
}

img {
  width: 400px; 
  height: auto; 
  padding: 5px;
  border: 5px solid;
  border-color: black;
  margin-bottom: 5px;
}

